
.fullscreen-button {
    position: fixed;
    bottom: 70px;
    right: 15px;
    background-color: white;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -8px 10px 13px 0px rgba(0,0,0,0.39);
-webkit-box-shadow: -8px 10px 13px 0px rgba(0,0,0,0.39);
-moz-box-shadow: -8px 10px 13px 0px rgba(0,0,0,0.39);
cursor: pointer;
}
.fullscreen-button>img{
    width: 40%;
}
